<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>시큐리01티_로그인페이지</title>
</head>
<body>

    <h1>로그인 페이지</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="유저네01임"></br>
        <input type="password" name="password" placeholder="비밀번호를 입력하세01요"></br>
        <button>로그인</button>
    </form>
    <a href="/joinForm">회원가입을 하지 않으셨나요?</a>
</body>
</html>